@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Shadows+Into+Light&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #002400;
    --secondary-color: #DBD2E0;
    --accent1-color: #273B09F;
    --accent2-color: #7B904B;

    /* change the values below to your chosen font(s) */
    --heading-font: Montserrat, "IM Fell French Canon SC";
    --paragraph-font: "Open Sans", Lato, Helvetica, sans-serif;
}

* {
    padding: 0;

    
}

#content {
    align-self: center;
    max-width: 1440px;
    box-sizing: border-box;
    background-blend-mode: color;
    background:#F6E8EA
}

nav ul {
    display: flex;
}

header {
    display: grid;
    grid-template-columns: 100px auto;
}
.navigation ul {
    list-style-type: none; 
    padding: 10px; 
}
.navigation {
    background-color: #002400;
    display: flex;
    justify-content: right;
    float: left;
    max-height: 100px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.open a {
	display: block;
    text-align: center;
}



a {
    height: 40px;
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: bold;
    padding: 30px;
    color: #DBD2E0;
    font-size: 36px;
    text-align: center;
}

.navigation a:hover {

    display: inline-block;
    color: #F6E8EA;
    background-color: #273B09;
    transform: scale(1.0);
    border-radius: 20px;

}

img.logo {
    max-height: 90px;
    background-color: #22181C;
    z-index: 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.slider-box {
    width: auto;
    margin: 50px auto 50px;
    overflow: hidden;
    border-radius: 20px;
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;

}

.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;

}

.text {
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
    background-color: #273B09;
    font-size: 20px;

}

.texto h2 {
    font-size: 45px;
    margin-bottom: 35px;
    font-family: var(--heading-font);
}

.slider-box img {
    width: 100%;

}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

#text p {
    font-family: var(--paragraph-font);
    font-size: 18px;
    text-align: center;
    display: flex;
    background-color:#273B09;
    border-radius: 20px;
    color: var(--accent2-color);


}

main {
    margin: 0 auto; 
    display: grid;
    grid-gap: 20px;
}

footer .social img {
    padding: 25px 10px;
    padding-bottom: 0;
    width: 70px;
    height: 50px;
}

footer {
    background-color: #002400;
    color: #DBD2E0;
    padding: 25px 20px;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}





footer P {
    font-size: 25px;
}

#text {

    text-align: center;
    z-index: 1;
    grid-row: 1/2;
    grid-column: 1/4;
    color: #DBD2E0;

}

h2 {
    font-size: 35px;
    font-family: var(--heading-font);
    text-align: center;
    font-weight: 900;
    color:#7B904B;
    
}


#logo_link {
    z-index: 1;
    max-height: 100px;
    border-radius: 4px;
    padding: 10px;
}
#menu{
    display: none;
}
.social a {
    padding: 0;
}

p a {
    padding: 0;
}
section.responsive {
    display: flex;
    justify-content: center;
    align-items: center; 
}


div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    display: flex;
   
}

div.gallery{
    padding: 10px;
}
div.desc {
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    z-index: 1;
    width: 150px;
    
}

.desc {
    font-family: var(--paragraph-font);
    font-weight: 700;
    background-color: #7B904B;
    padding: 4px;
    text-align: right;
    border-radius: 8px;
    margin: -80px auto 0;
    opacity: 95%;
    font-size: 15px;
    max-width: 500px;
    color:#22181C;


}


div.gallery:hover {

    opacity: .6;
    transform: scale(1.2);

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    align-items: center;

}
main {   
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;  
}
section:nth-child(2) {
    display: block;
}
section:nth-child(3) {
    grid-column: span 2;
}
.responsive{
   
    padding: 20px;
    background-color: #B6C4B6; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
section.responsive{
    margin: 4%;
}
h2{
    padding: 20px;
}