@media (max-width: 1076px) {
 

    main {
        grid-template-columns: 1fr ;
    }
    div.gallery img {
        width: 300px;
        height: auto;
        border-radius: 8px;
        display: flex;
        text-align: center;
    }
    a {
        color: #DBD2E0;
        font-size: 30px;
        text-align: center;
    }
    footer{
        background-color: #002400;
        color:#DBD2E0;
        padding: 10px 5px;
        min-height: 50px;
        display: grid;
        justify-content: space-around;
        align-items: center;
    }
    footer P {
        font-size: 15px;
    }

    footer .social img {
        padding: 10px 10px;
        padding-bottom: 0;
        width: 50px;
        
    }
    .text {
        padding: 0 0 0;
        top:100px;
    }

    /*dirrectory page*/

    .directory ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   
}