* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.formPage{
    display:grid;
    grid-template-columns: 1fr;
    max-width: 800px;
    
}
.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend{
    color: #445ba9;
    padding: 0 .5rem;
}
.wf1 label{
    display: block;
    padding-top: 1rem;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
}
.wf1 div{
    padding-top: 1rem;
    color: #445ba9;
    font-size: 0.9rem;

}
.wf1 input[type="text"],
.wf1 input[type="password"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 input[type="date"],
.wf1 input[type="number"],
.wf1 select
{
    background-color: antiquewhite;
    display: block;
    border: solid 1px #666;
    border-radius: 6px;
    padding: .75rem;
    color: #333;
    width: 100%;
    max-width: 400px;
    appearance: none;
}
.wf1 input[type="radio"],
.wf1 input[type="checkbox"]
{
    margin-right: 6px;
}
.wf1 input[type="submit"]{
    border: none;
    background-image: linear-gradient(#139c1a,#0e6f1b);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 400px;
    margin: -1rem 2% 2rem 2% ;
    box-shadow: 1px 1px 4px #444;
    margin-bottom: 10px;
}
.wf1 input:required {
    border-left: solid 8px red ;
}
.wf1 input:required:valid {
    border-left: solid 8px green;
}


.star-rating {
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 40px auto;
    position: relative;
  }
  
  .star-rating input {
    display: none;
  }

  .star-rating > label {
    width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: orange;
  }
  
  .star-rating label:hover {
    color: #ff69b4;
    transition: 0.2s ease;
  }
  .star-rating label:active::before {
    transform:scale(1.1);
  }
  
  
  .star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
  }

  .star-rating input:checked ~ label:before {
    content:'\2605';
  }
  
  @-moz-document url-prefix() {
    .star-rating input:checked ~ label:before {
    font-size: 36px;
    line-height: 21px;
    }
}  
#r {
	width: 400px;
	margin-bottom: 0;
}

#rangevalue {
	font-size: 2rem;
	color: navy;
}

#rangevalues {
	display: flex;
	margin: 0 0 0 25px;
	width: 400px;
}

#rangevalues option {
	flex: 1 1 auto;
}
#password, #confirmpassword {
  width: calc(100% - 25px);
}
.password-toggle {
  cursor: pointer;
}